@padding: 10px;
@color--bg: #ddd;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  background-color: @color--bg;
  display: flex;
  flex-direction: column;
  padding: @padding;
}

.container--top {
  display: flex;
  flex-direction: row;
  flex: 3;
  padding: @padding;
}

.container--input {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-right: @padding;
}

.container--output {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: @padding;
}

.container--bottom {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: @padding;
}

.title {
  color: darken(@color--bg, 60%);
  margin-bottom: @padding / 2;
}

.CodeMirror {
  height: 100%;
  border: 1px solid darken(@color--bg, 20%);
}
