// @import "fonts/fonts.css";
@padding: 10px;
@color--bg: #ddd;
@color--error-dark: #e07373;
@color--error-light: #fff5f5;
@font-family--default: -apple-system, BlinkMacSystemFont, "Segoe WPC",
  "Segoe UI", "HelveticaNeue-Light", "Ubuntu", "Droid Sans", sans-serif;
@font-family--monospace: Menlo, Monaco, Consolas, "Droid Sans Mono",
  "Courier New", monospace, "Droid Sans Fallback";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: @font-family--default;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  background-color: @color--bg;
  display: flex;
  flex-direction: column;
  padding: @padding;
}

.container--top {
  display: flex;
  flex-direction: row;
  flex: 3;
  padding: @padding;
}

.container--input {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-right: @padding;
}

.container--output {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: @padding;
}

.container--bottom {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: @padding;
}

.title {
  display: flex;
  justify-content: space-between;
  color: darken(@color--bg, 60%);
  margin-bottom: @padding / 2;

  .title--content {
    align-self: flex-end;
  }
}

.help {
  font-size: 80%;
  color: darken(@color--bg, 40%);
}

.CodeMirror {
  height: 100%;
  border: 1px solid darken(@color--bg, 20%);

  &.error {
    border: 1px solid @color--error-dark;
    background-color: @color--error-light;
  }

  &.CodeMirror-empty {
    color: darken(#fff, 50%);
  }
}

.button {
  color: darken(@color--bg, 40%);
  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
    color: #000;
    transition: color 0.15s ease-in-out;
  }

  &.icon {
    background: none;
    border: none;
    line-height: 1;
    padding: @padding;
    font-size: 100%;

    &.big {
      font-size: 150%;
    }
  }
}

code {
  font-family: @font-family--monospace;
  background-color: lighten(@color--bg, 3%);
  padding: @padding / 2;
  border-radius: @padding / 2;
}

/**
 * Help overlay
 */
.overlay {
  width: 100vw;
  height: 100vh;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  padding: @padding * 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: darken(@color--bg, 60%);

  .overlay--backdrop {
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .overlay--content {
    opacity: 1;
    position: relative;
    background-color: #fff;
    width: 720px;

    .overlay--content-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: @padding * 3;
      border-bottom: 1px solid @color--bg;
    }

    .overlay--content-body {
      padding: @padding * 3;
    }
  }
}

/**
 * Icons.
 */
.fa {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.fa-question-circle {
  width: 0.8571428571428571em;
}

/**
 * Utils.
 */
.hidden {
  display: none !important;
}
